* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.logIn-page {
  background: rgb(246, 247, 248);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.headerLogo {
  position: absolute;
  top: 50px;
  left: 50px;
}


.form-group, .signUp-formfields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
 
/* General Error Styles */
.error-message {
  color: red;
  font-size: 14px;
  /* display: none; */
  margin-top: 5px
}


/* Button Styles */
button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Checkbox Container */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
}

/* General Spacing */
.margin-top {
  margin-top: 16px;
}

.signUp-page {
  background: rgb(246, 247, 248);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


a {
  text-decoration: none;
  color: var(--grey);
}
  
.link_visited:visited {
  color: var(--grey);
}
  
.gray {
  color: var(--grey);
}

.display-f {
  display: flex;
}

.login-footer {
  display: flex;
  justify-content: center;
  font-size: 16px;
  width: 264px;
}

.display-fc {
  display: flex;
  flex-direction: column;
}

.signup-linking {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 35px;
}

#signup-linking-desktop {
  position: absolute;
  top: 50px;
  right: 50px;
}

#signup-linking-mobile {
  display: none;
}

.login-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-fsecc {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  
.padding {
  padding: 80px;
}

.join-logo {
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  z-index: 1;
  position: fixed;
}

.login_successful {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 700;
  background-color: var(--menuButtonDarkblue);
  color: var(--white);
  border-radius: 20px;
  padding: 25px;
  border: none;
  font-size: 20px;
}

@keyframes moveSpan {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 30%;
  }
}

.animate {
  display: block;
  animation: moveSpan 2s linear forwards;
}

.show {
  display: block;
  bottom: 100px;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    bottom: -100px;
  }
  to {
    bottom: 50%;
  }
}
  
.cover-button {
    visibility: hidden;
    background-color: var(--lightblue);
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
}

.button_color {
    background-color: var(--lightblue);
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.gap {
  gap: 32px;
}

.form-gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.form-wrapper {
  padding: 48px 88px;
  gap: 32px;
  border-radius: 30px;
  background-color: var(--white);
  height: auto;
}

.form-wrapper-signup {
  padding: 48px 88px;
  gap: 32px;
  border-radius: 30px;
  background-color: var(--white);
}

.logIn-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.button-p {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.button-login-blue {
  font-weight: 700;
  background-color: var(--menuButtonDarkblue);
  color: var(--white);
  border-radius: 8px;
  padding: 15px 24px;
  border: none;
  white-space: nowrap
}

/* a */
.button-login-blue:hover {
  background-color: var(--lightblue);
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
}

#guest-login:hover {
  cursor: pointer;
}

.button-login-white {
  border: 1px solid var(--menuButtonDarkblue);
  font-style: normal;
  font-weight: 700;
  background-color: var(--white);
  color: var(--menuButtonDarkblue);
  border-radius: 8px;
  padding: 15px 24px;
  white-space: nowrap
}
  
.arrow_header_signUp {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  position: relative;
}

.arrow_signUp {
  margin-left: -180px;
}

.arrow_signUp:hover {
  border-radius: 42px;
  background-color: var(--backgroundHoverArrow);
}

.text_login_btn {
  font-size: 21px;
  font-weight: 700; 
}
  
.button-login-white:hover {
  border-color: var(--lightblue);
  color: var(--lightblue);
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_LogIn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headline_logIn {
  font-size: 61px;
  margin: 0;
}
  
.vector_login {
  border: 3px solid;
  border-top: 150px;
  border-color: var(--lightblue);
  width: 150px;
  margin: 0 auto;
}

.link-checkbox {
  color: var(--lightblue);
}

.link-checkbox:hover {
  text-decoration: underline;
  font-weight: bold;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--backgroundSpacer);
  border-radius: 10px;
  background-color: var(--white);
  width: 482px;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
}
  
.input-container_border {
  border: 1px solid var(--lightblue);
}

.input-container input {
  border: none;
  outline: none;
  flex: 1;
  background-color: var(--white);
  font-size: 20px;
}

input {
  padding: 0px 0px;
}

.input-container img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  /*background-color: rebeccapurple;*/
}

.input-container:hover {
  border: 1px solid var(--lightblue);
}

.valid-input {
  border-color: var(--lightblue) !important;
}

.passwordLock,
.password_show,
.password_hide {
  width: 20px;
  height: 20px;
}
  
.hidden {
  display: none;
  outline: 1px solid red; /* Nur zum Testen */
}

.hidden {
  display: none;
}



.password_hide {
  display: none;
}
  
.input-border {
  border-color: var(--errorRed);
}

.input-container input::placeholder {
  font-size: 20px;
  color: var(--backgroundSpacer);
}

.padding {
  padding: 8px;
}

input:hover,
.hover,
.pointer-color:hover {
  cursor: pointer;
}
  
.rememberMe_box {
  align-self: baseline;
  padding-left: 48px;
}

.accept_box,
.rememberMe_box {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
}

.accept_box {
  padding: 3px 4px;
  display: flex;
  justify-content: center;
}

.checkbox-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox-icon {
  width: 100%;
  height: 100%;
}


  
.password-error {
  flex: 1;
  color: var(--errorPink);
}

.login-footer {
  position: absolute;
  bottom: 8px;
}

footer a {
  padding: 8px;
}

.pointer-color:hover {
  color: var(--lightblue);
}