/* Overlay Styling */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F0F0F0; /* Standard für Desktop */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Logo-Animation */
#animatedLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    object-fit: contain;
    object-position: center;
    z-index: 1000;
    animation: logoAnimation 1.5s ease-in-out 0.8s forwards;
}

/* Header-Logo Styling */
#headerLogo {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 120px;
}

/* Keyframes für die Logo-Bewegung */
@keyframes logoAnimation {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 50vw;
        height: 50vh;
    }

    20% {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        position: absolute;
        top: 50px;
        left: 50px;
        transform: translate(0, 0) scale(1);
        width: 100px;
        height: 121px;
    }
}

@media screen and (max-width: 768px) {
    #overlay {
        background: #2A3647; /* Hintergrundfarbe für mobile Geräte */
    }

    #animatedLogo {
        content: url('assets/img/general/logo.svg'); /* Initiales Logo in der mobilen Ansicht */
    }
}

/* Overlay-Ausblendung */
@keyframes fadeOut {
    from {
        opacity: 2; /* Voll sichtbar */
    }
    to {
        opacity: 1; /* Komplett transparent */
    }
}

