* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.logIn-page {
  background: rgb(246, 247, 248);
  width: 100vw;
  height: 100vh;
}
  
.signUp-page {
  background: rgb(246, 247, 248);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.signUp-formfields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
  
a {
  text-decoration: none;
  color: var(--grey);
}
  
.link_visited:visited {
  color: var(--grey);
}
  
.gray {
  color: var(--grey);
}

  /* Overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#logoAnimation {
  position: relative;
}

#animatedLogo {
  width: 400px; 
  height: auto;
  animation: moveLogoToHeader 1.5s ease-out;
}

@keyframes moveLogoToHeader {
  0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
  }
  100% {
      transform: translate(-50vw, -45vh) scale(0.1); 
      opacity: 0.8;
  }
}

.hidden {
    display: none;
}


/* Header */
.header {
  display: flex;
  padding: 40px;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001; 
}

.headerLogo {
  width: 80px;
  padding: 40px;
}

.hidden {
  display: none;
}

.display-f {
  display: flex;
}

.display-fjc {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
  
.d-center-space-betwen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.display-fc {
  display: flex;
  flex-direction: column;
}

.display-ac {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.display-fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-fccc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-fsecc {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  
.padding {
  padding: 80px;
}

.join-logo {
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  z-index: 1;
  position: fixed;
}

.login_successful {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 700;
  background-color: var(--menuButtonDarkblue);
  color: var(--white);
  border-radius: 8px;
  padding: 15px 24px;
  border: none;
}
@keyframes moveSpan {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 30%;
  }
}
.animate {
  display: block;
  animation: moveSpan 2s linear forwards;
}

.show {
  display: block;
  bottom: 100px;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    bottom: -100px;
  }
  to {
    bottom: 50%;
  }
}
  
.cover-button {
    visibility: hidden;
    background-color: var(--lightblue);
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
}

.button_color {
    background-color: var(--lightblue);
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.gap {
  gap: 32px;
}

.gap-20 {
  gap: 20px;
}

.form-gap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.imglogo {
  /* margin: 30px 0px 50px 60px; */
  position: absolute;
  top: 80px;
  left: 77px;
}
  
.logo-login {
  height: 100vh;
  background-color: var(--white);
}

.frame153 {
  padding: 48px 115px;
  gap: 32px;
  border-radius: 30px;
  background-color: var(--white);
  /* width: 652px; */
  /* width: 598px; */
  height: auto;
}

.frame153-signup {
  padding: 48px 88px;
  gap: 32px;
  border-radius: 30px;
  background-color: var(--white);
}

.logIn-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  /* margin: 40px; */
}

.button-p {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.button-login-blue {
  font-weight: 700;
  background-color: var(--menuButtonDarkblue);
  color: var(--white);
  border-radius: 8px;
  padding: 15px 24px;
  border: none;
  white-space: nowrap
}

/* a */
.button-login-blue:hover {
  background-color: var(--lightblue);
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
}

#guest-login:hover {
  cursor: pointer;
}

.button-login-white {
  border: 1px solid var(--menuButtonDarkblue);
  font-style: normal;
  font-weight: 700;
  background-color: var(--white);
  color: var(--menuButtonDarkblue);
  border-radius: 8px;
  padding: 15px 24px;
  white-space: nowrap
}
  
.arrow_header_signUp {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  position: relative;
}

.arrow_signUp {
  margin-left: -100px;
}

.arrow_signUp:hover {
  border-radius: 42px;
  background-color: var(--backgroundHoverArrow);
}

.text_login_btn {
  font-size: 21px;
  font-weight: 700; 
}
  
.button-login-white:hover {
  border-color: var(--lightblue);
  color: var(--lightblue);
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_LogIn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headline_logIn {
  font-size: 61px;
  margin: 0;
}
  
.vector_login {
  border: 3px solid;
  border-top: 150px;
  border-color: var(--lightblue);
}

.link-checkbox {
  color: var(--lightblue);
}

.link-checkbox:hover {
  text-decoration: underline;
  font-weight: bold;
}
  

.password_container {
  display: flex;
  align-items: center;
  border: 1px solid var(--backgroundSpacer);
  padding: 5px;
  border-radius: 10px;
  background-color: var(--white);
  width: 422px;
}
  
.password_container_border {
  border: 1px solid var(--lightblue);
}

.password_container input {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
  background-color: var(--white);
  font-size: 20px;
}

.password_container img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.password_container:hover {
  border: 1px solid var(--lightblue);
}
  
.password_lock,
.password_show,
.password_hide {
  width: 20px;
  height: 20px;
}
  
.password_hide {
  display: none;
}
  
.input-border {
  border-color: var(--errorRed);
}

.password_container input::placeholder {
  font-size: 20px;
  color: var(--backgroundSpacer);
}

.padding {
  padding: 8px;
}

input:hover,
.hover,
.pointer-coler:hover {
  cursor: pointer;
}
  
.rememberMe_box {
  align-self: baseline;
  padding-left: 48px;
}

.accept_box,
.rememberMe_box {
  display: flex;
  gap: 8px;
  align-items: center;
}

.accept_box {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.style_checkbox {
  height: 16px;
  width: 16px;
}
  
.password-error {
  flex: 1;
  color: var(--errorPink);
}

footer {
  padding: 16px;
  bottom: 40px;
}

.pointer-coler:hover {
  color: var(--lightblue);
}
  