:root {
    --border-color: rgb(238, 238, 238);
    --border-radius: 8px;
    --menu-bar-color: rgb(42, 54, 71);
}


body {
    font-family: "Inter";
    overflow-x: hidden;
    background-color: #F0F0F0;
}

main {
    max-width: 1088px;   
    margin-top: 20px;
    margin-left: 60px;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    margin-bottom: 50px;
}

.board-title {
    font-size: 61px;
    padding-right: 20px;
}


/* SEARCHBAR */
::placeholder,
textarea,
input {
    font-size: 20px;
    margin-left: 15px;
}

.right-section {
    display: flex;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 320px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    background-color: white;
    cursor: pointer;
}

.search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
}

#search-input {
    width: 100%;
}

.search-bar .icon {
    margin-left: 0px;
    width: 32px;
    height: 32px;
}

/* ADD TASK-BUTTON */ 
.add-task {
    background-color: #2a3647;
    font-size: 21px;
    font-weight: bold;display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    padding: 8px 16px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}


/* TODO, PROZESS, FEEDBACK, DONE */ 
.text {
    display: flex;
    justify-content: space-between;
    width: 252px;
    font-weight: bold;
    font-size: 21px;
    color: #42526E;

}


.add-task:hover {
    background-color: #29abe2;
    border-color: #29abe2;
}

.add-task span {
    font-size: 40px;
    font-weight: lighter;
}

.task-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #888;
    border: 2px dotted;
    background-color: #A8A8A8;
    background: #E7E7E7;
    margin-top: 20px;
    cursor: pointer;
}
  


article {
    display: flex;
    gap: 45px;
    box-sizing: border-box;
}


/* Nur der Hover-Effekt auf das SVG-Icon anwenden */
.svgHover svg:hover rect,
.svgHover svg:hover path {
    stroke: #29abe2;
    fill: rgba(168, 168, 168, 0.01);
    cursor: pointer;
}

.task-smallview-container {
    width: 252px;
    min-height: 500px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #dfdfdf8a;
    border-radius: 10px;
}

.task-smallview {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 24px;
    cursor: pointer;
    width: 252px;
    position: relative;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lightgray {
    color: lightgray;
}



.smallview-description,
.smallview-title {
    min-height: 42px;
    max-height: 42px;
    display: flex;
    align-items: center;
    width: 212px;
    word-wrap: break-word;
}

.container-highlight {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px dashed black;
}

.rotate {
    transform: rotate(5deg);
    filter: brightness(90%);
}

.mb-20 {
    margin-bottom: 50px;
}

.progressBar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.media-add-task {
    background-color: #2a3647;
    color: white;
    border: none;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
    font-weight: lighter;
    display: none;
}

.smallview-description {
    word-break: break-all;
}


.section {
    width: 252px;
    margin-bottom: 16px;
    min-height: 0px;
    display: flex;
    flex-direction: column;
}



/* --- MEDIA QUERY --- */
@media (max-width: 1450px) {
    article {
        flex-wrap: wrap;
    }

    .section {
        width: 252px;
        display: flex;
        flex-direction: column;
    }

    /*
    .flex1450section {
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }
    */

    .text {
        display: flex;
        justify-content: space-between;
        width: 288px;
        height: 30px;
        font-weight: bold;
    }

    .task-smallview-container {
        min-height: 30px;
        overflow-y: hidden;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        gap: 8px;
        box-sizing: border-box;
        padding: 8px 0;
        position: relative;
    }

    .task-smallview {
        display: flex;
        flex-direction: column;
        gap: 8px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        margin: 0;
        cursor: pointer;
        width: 252px;
    }

    .text {
        width: 288px;
        align-items: center;
    }

    .task-smallview-container {
        min-height: 30px;
        margin-top: 20px;
    }
}


@media (max-width: 1025px) {
    main {
        margin: 96px 16px;
    }

    #done-container {
        margin-bottom: 200px;
    }

    .board-title {
        font-size: 47px;
    }

    .text {
        font-size: 27px;
    }

    .task-smallview-container {
        min-height: 50px;
    }

    .media-add-task {
        position: relative;
    }

    .board-title-button {
        padding-right: 0;
    }

    .right-section {
        gap: 0px;
    }

    .add-task {
        display: none;
    }

    .search-bar {
        width: 396px;
        flex-shrink: 0;
    }

    .header {
        display: flow;
    }

    .media-add-task {
        display: block;
        flex-shrink: 0;
    }

    .board-title-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        width: 396px;
    }

    .text {
        width: 288px;
    }

    .step-container-null-content {
        margin-right: 20px;
    }
}

@media (max-width: 960px) {
    article {
        display: flex;
        padding-top: 40px;
        gap: 16px;
        box-sizing: border-box;
    }
}

@media (max-width: 760px) {
    .header {
        padding: 0px;
        width: 288px;
    }

    .search-bar {
        width: 280px;
    }

    .search-bar input {
        width: 240px;
    }

    .board-title-button {
        width: 288px;
    }

    .task-smallview-container {
        min-height: 30px;
        overflow-y: hidden;
        min-width: 100%; 
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 8px 0;
    }
}

@media (max-width: 560px) {
    main {
        box-sizing: border-box;
        padding: 0px 8px;
    }
}

@media (max-width: 450px) {
    .prio button {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .prio button img {
        margin-left: 0px;
    }
}
