h2{
    font-size:61px;
}
h3{
    font-size:27px;
}
.email{
    color:#007CEE;
    font-size:16px;
}
#contactContent{
    display:flex;
    position:absolute;
    right: 0;
    bottom: 0;
    height: calc(100vh - 96px);
    width: calc(100vw - 232px);
}

#addContactButton{
    margin-top:22.5px;
    height:56px;
    width:352px;
    background: #2A3647;
    color:white;
    border-radius:10px;
    border:1px solid #2A3647;
    cursor:pointer;
    margin-bottom:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:16px;
    font-size:21px;
    padding: 12px;
}

/* #addContactBox {
    border-radius: 30px;
} */

#addContactBox, #editContactBox{
    width:80%;
    height:50%;
    background:white;
    z-index:100;
    position:absolute;
    top:25%;
    width:80%;
    right:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    /* border-radius:15px; */
    border-radius: 30px;
}

#addContactBox .close-button, #editContactBox .close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #2A3647;
    cursor: pointer;
    z-index: 101;
    font-weight: bold;
    line-height: 1;
}

#addContactBox div, #editContactBox div{
    height:calc(100%);
    width:100%;
    background:#2A3647;
    flex-direction:column;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    color:white;
    padding-left:48px;
}
#addContactBox div h2, #editContactBox div h2{
    font-size:61px;
}
#addContactBox form, #editContactBox form{
    height:calc(100%);
    background:white;
    border:1px solid black;
    width:67.67%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:8px;
}

#contacts {
    width:456px;
    /* box-shadow: 4px 0px 6px 0px #00000014; */
    box-shadow: 4px 0px 6px 0px #0000001A;
    display:flex;
    flex-direction:column;
    align-items:center;
    z-index: 1;
}

#contactList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    overflow-y: scroll;
}

#contactList h3 {
    font-size: 20px;
}

hr {
    width:100%;
    height:0px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
}
.contact {
    height: 78px;
    width:352px;
    display: flex;
    align-items: center;
    cursor:pointer;
    gap: 35px;
    padding: 12px;
    border-radius: 10px;
}
.contactInformation{
    display:flex;
    flex-direction:column;
    gap:5px;
}
.contactInformationName{
    font-size:20px;
}
.contact:hover {
    background-color: #F6F7F8;
}

.contact div{
    display:flex;
    flex-direction:column;
}

.circle {
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(70, 47, 138);
    border: 2px solid white;
    border-radius: 100%;
    color: white;
    margin-right:10px;
}

#contactViewHeader{
    display:flex;
    gap:30px;
    align-items:center;
    justify-content:center;
}

#contactViewHeader p{
    font-size:27px;
}

#contactView{
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding-top:110px;
    gap:30px;
    background-color: #F6F7F8;
    width:calc(100vw - (232px + 456px)); /*232px Seitenleiste, 456px Kontaktliste, 17px Scrollbar*/
    padding-left: 50px;
    flex-direction: column;
    transition: right 0.5s ease-in-out;
}

/*contact details*/
#contactDetails{
    background: #F6F7F8;

    transform: translateX(100%); /* Start außerhalb des Bildschirms */
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* z-index: 100; */
}

#contactDetails.show {
    transform: translateX(0); 
}

.detailsBox {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.contactHeader{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:54px;
    font-size:47px;
}
/* .contactHeader .circle{
    width:120px;
    height:120px;
    border:1px solid white;
    color:white;
} */

.circleDetails {
    color:white;
    width:120px;
    height:120px;
    border:3px solid white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactHeader span{
    font-size:16px;
}
.contactNameDetails{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.contactItemControls{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    gap:26px;
}
#editContainer, #deleteContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:13px;
}
.contactInformationTitle{
    padding-top:20px;
    padding-bottom:20px;
}
.contactFooter{
    display:flex;
    flex-direction:column;
    gap:22px;
    font-size:20px;
}
.contactFooterInformation{
    display:flex;
    flex-direction:column;
    gap:15px;
}
.hidden{
    display:none !important;
}

#contactDetailOverlayBox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    z-index: 2;
    background-color: #F6F7F8;
    display: flex;
    padding: 16px;
}
@media (max-width: 1220px){
    .contactHeader{
        flex-direction:column;
        align-items: flex-start;
        gap: 21px;
    }
}
@media (max-width: 1160px){
    #contactViewHeader{
        flex-direction:column;
        align-items:flex-start;
    }
    #contactViewHeader img{
        display:none;
    }
}
@media (max-width: 1024px) {
    #contacts {
        width: calc( 100vw - 232px);
        height: calc(100vh - 96px);
    }
    #contactView{
        display:none;
    }
    .contactDetailOverlayBox {
        display: block !important;
        /* padding: 16px; */
    }
    #contactDetailsOverlay .contactHeader {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}
@media (max-width: 680px){
    #contactContent{
        left:0;
        bottom: 80px;
        width:100vw;
        height: calc(100vh - 160px);
        display:flex;
        justify-content:center;
    }

    #contacts{
        width:100%;
        height: 100%;
    }

    .contact{
        width:90%;
    }
    #addContactButton{
        height:45px;
        width:45px;
        padding:3px;
        border-radius:25.5px;
        position:fixed;
        right:25px;
        bottom:80px; /*mobilenav is 80px high*/
    }
    #addContactButton span{
        display:none;
    }
    #contactDetailOverlayBox {
        width: 100vw;
        height: calc(100vh - 160px);
    }
}