#addContactBoxOverlay, #editContactBoxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#addContactBox, #editContactBox {
    width:80%;
    height:594px;
    background:white;
    display:flex;
    align-items: center;
    border-radius: 30px;
    position: relative;
}
  
#addContactBoxHeader, #editContactBoxHeader {
    height: 100%;
    /* width: 100%; */
    background:#2A3647;
    flex-direction:column;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    color:white;
    padding: 66px 48px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
}

.logo {
    position: absolute;
    top: 152px;
}

.contactHeaderText {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#addContactHeadline, #editContactHeadline {
    text-wrap: nowrap;
}

.contactHeaderText p {
    font-size: 27px;
}

.dividerOverlay{
    width: 90px;
}

.addContactInfoOverlay, .editContactInfoOverlay {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

.overlay-contact-img {
    width: 120px;
    height: 120px;
}

#addContactForm, #editContactForm{
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 40px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 422px;
}

/* Container für die Eingabefelder */
.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #D1D1D1;
    padding: 12px 21px;
    border-radius: 10px;
    width: 100%;
}

.input-container:focus-within {
    border-color: #29ABE2
}
  
/* Eingabefelder mit Bild */
.input-with-image {
    border: none;
    outline: none;
    flex: 1; /* Das Eingabefeld nimmt den restlichen Platz ein */
    font-size: 16px;
    background-color: var(--white);
}
  
/* Icons im Eingabefeld */
.input-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


/* Formularbuttons */
.add-form-buttons, .edit-form-buttons {
    display: flex;
    gap: 24px;
}
  
.form-button {
    border: none;
    border-radius: 10px;
    /* padding: 12px 21px; */
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--lightblue);
    color: var(--white);
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 4px;
}
  
/* .form-button:hover {
    background-color: var(--darkblue);  
} */


.clear-button {
    border: 1px solid #2A3647;
    background-color: #F6F7F8;
    color: #2A3647;
}

.clear-button:hover {
    background-color: #E2E5E8; /* Helle Hintergrundfarbe beim Hover */
    border-color: #1F2A38; /* Dunklere Rahmenfarbe beim Hover */
}

.submit-button {
    background-color: #2A3647;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #1F2A38; /* Dunklere Hintergrundfarbe beim Hover */
}

.saveButton{
    background:#2A3647;
    color:white;
}

.desktop-only {
    display: flex;
}

.mobile-only {
    display: none;
}

.close-button-box {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    position: absolute;
    z-index: 13;
    top: 48px;
    right: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    border: none;
    font-size: 24px;
    color: #2A3647;
}

.close-button-box:hover {
    background: #D1D1D1;
    cursor: pointer;
}