body {
    background-color: #F0F0F0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

.marked {
    color: #29ABE2;
}

p {
    margin: 0;
    padding-bottom: 30px;
}