* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

nav ul li a{
    text-decoration: none;
    color:#CDCDCD;
}

body {
    /* display: flex; */
    /* height: 100vh; */
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

header {
    height: 96px;
    background: white;
    display: flex;
    align-items: center;
    /* justify-content:space-around; */
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 300px;
    position: fixed;
    /* width:calc(100% - 232px); */
    width: 100vw;
    top: 0;
    z-index:1;
    /* left: 232px; */
    left: 0;
    box-shadow: 0px 4px 4px 0px #0000001A;
    transition: height 0.3s ease, width 0s ease, padding 0.3s ease;
}

#headerControls{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}

#help-link {
    color: #A8A8A8;
    text-decoration: none;
    cursor: pointer;
    display: flex;
}

#first-letters {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:48px;
    height:48px;
    border: 3px solid black;
    color: #29ABE2;
    font-weight: 600;
    font-size: 18px;
}

#first-letters:hover {
    cursor: pointer;
}

.help-menu {
    position: absolute;
    top :96px;
    right: 16px;
    padding: 16px;
    background-color: #2A3647;
    /* color: #CDCDCD; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.help-menu a, .help-menu div {
    font-size: 16px;
    text-decoration: none;
    color: #CDCDCD;
    padding: 8px 16px;
}

.help-menu div:hover {
    cursor: pointer;
}

.mobile-visible {
    display: none;
}

.d-none {
    display: none !important;
}

#sidebar {
    width: 232px;
    background: #2A3647;
    color: #CDCDCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    left:0;
    top: 0;
    z-index: 2;
    height:100vh;
    transition: transform 0.3s ease;
}

#sidebar a {
    color: #CDCDCD;
    text-decoration: none;
    font-size: 16px;
}

.sidebar-element {
    padding-top: 64px;
    padding-bottom: 64px;
}

.sideBarNavigation {
    list-style: none;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:20px;
    /* width: 232px; */
}

.sideBarNavigation a{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:8px;
    width: 232px;
    padding: 8px 56px;
}

.sideBarNavigation a:hover{
    background: #263c5c;
}

.sideBarNavigation a:hover img,
.sideBarNavigation a:hover span {
    transform: translateX(-1px);
}

.sideBarNavigation a.active-link:hover img,
.sideBarNavigation a.active-link:hover span {
    transform: none;
}

#info-sidebar {
    width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
    gap: 4px;
}

#info-sidebar a {
    padding: 8px 56px;
}

#info-sidebar a:hover{
    color: #29ABE2;
    transform: scale(1.07); 
}

.active-link {
    background-color: #091931;
    color: #FFFFFF !important;
}

.active-link:hover {
    background-color: #091931 !important;
    color: #FFFFFF !important;
}

#info-sidebar a.active-link:hover {
    transform: none;
}

#mobileNav {
    display: none; /* Standardmäßig ausblenden */
}

/* Media Queries */
@media(max-width: 1275px) {
    header {
        padding-left: 268px;
        padding-right: 16px;
    }
}
@media (max-width: 680px) { /*unter 640*/
    header{
        height:80px;
        width:100vw;
        left:0;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }

    #help-link {
        display: none;
    }

    #help-menu {
        top: 80px;
    }

    .mobile-visible {
        display: block;
    }

    #headerText{
        display:none;
    }

    #headerLogo{
        display:flex;
    }

    #sidebar {
        transform: translateX(-100%); /* Sidebar ausblenden */
    }

    #mobileNav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #2A3647;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1000;
        height:80px;

        /* width:100%; */
    }

    #mobileNav a{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:100%;
        font-size:14px;
        height: 76px;
        width: 80px;
        padding-top: 8px;
        padding-bottom: 8px;
        gap: 10px;
        color: #CDCDCD;
        text-decoration: none;
        border-radius: 16px;
    }

    #mobileNav img{
        height:32px;
    }

    #content{
        padding-top:80px;
    }
}

@media (min-width: 681px) { 
    /*über 681px*/
    #headerText{
        display:flex;
    }

    #headerLogo{
        display:none;
    }

    #mobileNav{
        display: none; 
        /* Mobile Navigation ausblenden */
    }
}