body {
    background-color: #F0F0F0;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* SignUp-Container */
.signUp-container {
    position: relative;
    border-radius: 30px;
    background-color: white;
    width: 598px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.arrow-left {
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 40px;
    width: 30px;
}

h2 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
    position: relative;
}

/* Blaue Trennlinie */
h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #29ABE2;
    position: absolute;
    bottom: -5px;
    border-radius: 100px;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
}

/* Eingabefelder-Stile */
.input-container {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 40px;
    width: 422px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    margin-top: 24px;
    padding: 5px;
}

.input-container input {
    font-size: 20px;
    border: none;
    outline: none;
    flex: 1;
    margin-left: 10px;
}

.input-container img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding: 0px;
}

.input-container input::placeholder {
    color: #D1D1D1;
}

.registerInput {
    margin-top: 24px;
}

.input-container:focus-within {
    outline: 2px solid #29ABE2; 
}

/* Checkbox-Sektion */
.checkboxLogin {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.checkboxLogin p {
    color: #A8A8A8;
}

.checkbox {
    color: #29ABE2;
    text-decoration: none;
}

.checkbox:hover {
    font-weight: 500;
    text-decoration: underline;
}

/* SignUp-Button */
.signBtn {
    color: white;
    font-size: 21px;
    font-weight: 700;
    width: 140px;
    height: 60px;
    margin-top: 20px;
    border-radius: 8px;
    border: 0;
    background-color: #2A3647;
    cursor: pointer;
}

.signBtn:hover, .successBtn:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.successBtn {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    width: 340px;
    height: 60px;
    margin-top: 20px;
    border-radius: 8px;
    border: 0;
    background-color: #2A3647;
    cursor: pointer;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #A8A8A8;
    font-size: 16px;
}

footer a:hover {
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;
}
